  body {
      font: 400 15px Lato, sans-serif;
      line-height: 1.8;
      color: #818181;
  }
  h2 {
      font-size: 24px;
      text-transform: uppercase;
      color: #303030;
      font-weight: 600;
      margin-bottom: 30px;
  }

  h2.white { color: #fff;}
  h4 {
      font-size: 19px;
      line-height: 1.375em;
      color: #303030;
      font-weight: 400;
      margin-bottom: 30px;
  }



* {
  font-size: 17px;
}


.nav-pad { 
  line-height: 2;
  padding: 2em 2em;
}
.navbar-brand>img.logo {visibility: hidden;}
.navbar {
      margin-bottom: 0;
      background-color: #181818 !important;
      z-index: 9999;
      border:0;
      font-size: 14px !important;
      line-height: 1.42857143 !important;
      letter-spacing: 4px;
      border-radius: 0;
      font-family: Montserrat, sans-serif;
  }
  .navbar li a, .navbar .navbar-brand {
      color: #fff !important;
  }
  .navbar-nav li a:hover, .navbar-nav li.active a {
      color: #0f001a !important;
      background-color: #fff !important;
  }
  .navbar-default .navbar-toggle {
      border-color: transparent;
      color: #fff !important;
  }

 .jumbotron {
      background: url(../images/jumbo.jpg) no-repeat fixed center;
      background-size: cover;
      color: #fff;
      padding: 100px 25px;
      font-family: Montserrat, sans-serif;
  }


/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .navbar-brand>img.logo {visibility: visible;}
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}
 

  #section1 {
    padding-top:5em;
    padding-bottom: 10em;
    color: #fff;
    background-color: #555;
    text-align: center;
   }
  #services {
    padding-top:5em;
    padding-bottom: 10em;
    background-color: #fff;}
  #portfolio {
    padding-top:5em;
    padding-bottom: 10em;
    background-color: #474e5d;}
  #section41 {
    padding-top:5em;
    padding-bottom: 10em;
    color: #fff; 
    background-color: #00bcd4;}
  #section42 {
    padding-top:5em;
    padding-bottom: 10em;
    color: #fff; 
    background-color: #009688;}

    footer {
      padding: 15px;
    }
    footer ul li{
      list-style: none; 
    }

    