.text-gold { color: #A97D53; }

.text-price { color:#ff0000;}

.gold { padding: 1rem 2rem 1.0625rem 2rem; }
.gold, .gold-sm { 
-webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 0;
  border-style: solid;
  border-width: 0;
  cursor: pointer;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-weight: normal;
  line-height: normal;
  margin: 0 0 1.25rem;
  position: relative;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  background-color: #C8971D;
  color: #FFFFFF;
  transition: background-color 300ms ease-out; }
   .gold-sm:hover, .gold-sm:focus,
   .gold:hover, .gold:focus {
    background-color: #996515; 
/*      golden brown  */
    }
    .gold-sm:hover, .gold-sm:focus,	
   .gold:hover, .gold:focus {
    color: #FFFFFF; }
.gold-sm { 
	margin-top:0.5rem;
	padding: 0.4rem 4.25rem 0.4rem 1.25rem;
    width: 100%; 
border-top-right-radius: 7px;
border-bottom-right-radius: 7px;
}    


/*NAVIGATION*/

.has-form {
  position: absolute;
  top: 0;
  left: 6rem;
  min-width: 14rem; }
.darkbrown { background-color: #2b1e15;}

  @media only screen and (max-width: 40em) {
    .has-form {
      min-width: 10rem;
      top: 0.5rem; }
      .has-form .button {
        height: 1.85rem; } 
}

.hero {
	width: 100%;
	height: 500px;
	background-image: url(../images/luxury.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover; 
}

.margin-top { margin-top: 2em;}


/*FOOTER*/

.footer {
  background-color: #292c2f;
  text-align: center;
  font-size: 1.2rem;
  padding: 4rem; }
  .footer .inline-list a {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 1.5rem;
    color: #fff;
    text-align: center;
    line-height: 35px;
    margin: 0 3px 0 0; }
  .footer .contact {
    list-style-type: none;
    margin: 0;
    text-align: left;
    color: #fff; }
    .footer .contact li {
      margin-bottom: 2rem; }
      .footer .contact li p {
        padding-left: 5rem; }
    .footer .contact i {
      position: absolute;
      background-color: #33383b;
      color: #fff;
      font-size:1.5rem;
      border-radius: 50%;
      line-height: 1;
      margin: 0 0 0 -4rem;
      vertical-align: middle;
      padding: .25em .45em; }
  .footer .copywrite {
    color: #8f9296;
    font-size: 0.875rem;
    margin: 0 0 1rem 0; }
  .footer .about {
    color: #92999f;
    font-size: 0.875rem;
    margin: 0 0 1rem 0; }
  .footer .footer-links a {
    list-style: none;
    font-weight: normal;
    color: #fff;
    padding: 3rem 0 2rem;
    margin: 0;
    font-size: 0.875rem; }
    .footer .footer-links a::after {
      content: "|";
      padding: 0 0.2rem 0 0.4rem; }
    .footer .footer-links a:last-child::after {
      content: "";
      padding: 0 0.4rem 0 0.8rem; }
  @media only screen and (min-width: 40.063em) {
    .footer p {
      text-align: left; }
    .footer .social {
      text-align: left;
      margin: 0; }
    .footer .contact {
      text-align: left; }
      .footer .contact > i {
        margin-right: 1rem; } }

.logo {
  color: #fff;
  font-size: 1.25rem; }
  .logo i {
    margin-right: 0.5rem; }
SCSS


.hero {
  background: url('http://www.banksy-wallpaper.com/wallpapers/800x600/10-i-am-father.jpg') no-repeat center center;
	background-size: cover;
  height: 50vh;
  overflow: hidden;
  h1, h2 {
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    padding: 1rem 0 0 1rem;
    margin: 0;
  }
}

.row {
  max-width: 1200px;
}

.footer {
  background-color: #292c2f;
  text-align: center;
  font-size: 1.2rem;
  padding: 4rem;
  
  .inline-list a {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 1.5rem;
    color: #fff;
    text-align: center;
    line-height: 35px;
    margin: 0 3px 0 0;
  }
  
  .contact {
    list-style-type: none;
    margin: 0;
    text-align: left;
    color: #fff;
    
    li {
      margin-bottom: 2rem;
      
      p {
        padding-left: 5rem;
      }
    }
    
    i {
      position: absolute;
      background-color: #33383b;
      color: #fff;
      font-size: 1.5rem;
      border-radius: 50%;
      line-height: 1;
      margin: 0 0 0 -4rem;
      vertical-align: middle;
      padding: .25em .45em;
    }
  }
  
  .copywrite {
    color: #8f9296;
    font-size: 0.875rem;
    margin: 0 0 1rem 0;
  }
  
  .about {
    color: #92999f;
    font-size: 0.875rem;
    margin: 0 0 1rem 0;
  }
  
  .footer-links a {
    list-style: none;
    font-weight: normal;
    color: #fff;
    padding: 3rem 0 2rem;
    margin: 0;
    font-size: 0.875rem;
    
    &::after {
      content: "|";
      padding: 0 0.2rem 0 0.4rem;
    }
    
    &:last-child::after {
      content: "";
      padding: 0 0.4rem 0 0.8rem;
    }
  }
  
  @media only screen and (min-width: 40.063em) {
    
    p {
      text-align: left;
    }
    
    .social {
      text-align: left;
      margin: 0;
    }
    
    .contact {
      text-align: left;
      > i {
        margin-right: 1rem;
      }
    }
    
  }
}
   
.logo {
  color: #fff;
  font-size: 1.25rem;
  
  i {
    margin-right: 0.5rem;
  }
}

/*BOOKING PAGE*/


/*SEARCH FORM*/
/* Styles for expanding search element */
.search-field {
  width: 0;
}

.search-icon {
  margin-top: 15px;
}

span {
  padding-left: 5px;
  color: #fff;
}

.icon {
  font-size: 20px;
  color: #fff;
}

.fi-magnifying-glass:before {
content: "\f16c";
position: absolute;
margin-left: 7px;
margin-top: 5px;
line-height: 200%;
color: #cccccc;
z-index: 2;
display: inline-block;
}

input[type="text"].dream-search {
  width: 0;
  padding-left: 35px;
  background-color: #333;
  border:0;
}

input[type="text"].dream-search:focus {
  display: inline;
  width: 200px;
  line-height: 130%;
  background-color: #fff;
  border-radius: 5px;
  transition: ease-in-out,width .35s ease-in-out;
}

.center-row {
  background-color: #0078A0;
  border-radius: 15px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  max-width: 400px;
}

.center-row ul{
  display: table;
  margin: 0 auto;
}
/*CALENDAR*/

iframe { display: inline-block;}

/*BOOKING FORM*/

    a#submit {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 70px;
}



/* Hide the 'You typed:' text upon initial page load */

#page h3 {
  display: none;
}

/* When #page becomes the target (on form submission),
           show the 'You typed:' text, hide the submit button, and redisplay the input box in plain text. */

#page:target h3 {
  display: inline-block;
}

#page:target input[type="submit"] {
  display: none;
}

#page:target .hide {
  display: none;
}

#page:target input, 
#page:target select 
{
  display: inline;
  border: 0;
  background-color:#fff;
  box-shadow: none;
}

.submitBtn {
  position: relative;
}